<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from demo.vaahosttech.com/premedi/about.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 20 Nov 2017 06:12:05 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="155 characters of message matching text with a call to action goes here">
    <meta name="author" content="">
    <title>
        PETS ATAŞEHİR VETERİNERLİK  | Hakkımızda
    </title>
   
    <link rel="manifest" href="favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
<main class="main">
    <!-- About starts -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center fadeIn wow" data-wow-duration="1s">
                    <img src="~/premedi/images/appoinment1.png" alt="" class="img-responsive hidden-xs" />
                </div>
                <div class="about-premedi-response">
                    <div class="open-hours-details hidden-xs hidden-md hidden-lg">
                        <h4><i class="icofont icofont-wall-clock"></i> Çalışma Saatleri</h4>
                        <ul class="col-xs-12 col-sm-6 col-md-7">
                            <li><span class="pull-left">Pazartesi - Cumartesi</span> <span class="pull-right">10:00 - 19:00</span></li>
                            <li><span class="pull-left">Sunday</span> <span class="pull-right">Kapalı</span></li>                            
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="about-premedi">
                        <h3 class="about-head">Pets Ataşehir Veterinerlik'e </h3>
                        <h4 class="premedi-story">Hoşgeldiniz</h4>

                        <p>
                            
                        </p>
                        <a href="contact.html" class="btn btn-default">Bize Ulaşın</a>
                        <div class="open-hours-details hidden-sm">
                            <h4><i class="icofont icofont-wall-clock"></i> Çalışma Saatleri</h4>
                            <ul class="col-xs-12 col-md-8 col-lg-7">
                                <li><span class="pull-left">Pazartesi - Cumartesi</span> <span class="pull-right">10:00 - 19:00</span></li>
                                <li><span class="pull-left">Pazar</span> <span class="pull-right">Kapalı</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About ends -->
    <!-- Fun Facts starts -->
    <section id="fun-facts" class="fun-facts">
        <div class="layer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <div class="fun-facts-box text-center pulse wow" data-wow-duration="1s">
                            <i class="icofont icofont-first-aid-alt"></i>
                            <h1 class="fun-facts-count">
                                08
                            </h1>
                            <h5 class="">
                                TOTAL DEPARTMENTS
                            </h5>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <div class="fun-facts-box text-center pulse wow" data-wow-duration="1s">
                            <i class="icofont icofont-doctor"></i>
                            <h1 class="fun-facts-count">
                                120
                            </h1>
                            <h5 class="">
                                DOCTOR WORK
                            </h5>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <div class="fun-facts-box text-center pulse wow" data-wow-duration="1s">
                            <i class="icofont icofont-autism"></i>
                            <h1 class="fun-facts-count">
                                12K
                            </h1>
                            <h5 class="">
                                SATISFIED PATIENTS
                            </h5>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <div class="fun-facts-box text-center pulse wow" data-wow-duration="1s">
                            <i class="icofont icofont-medical-sign-alt"></i>
                            <h1 class="fun-facts-count">
                                786
                            </h1>
                            <h5 class="">
                                DIFFERENT SERVICES
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Fun Facts ends -->
    <!-- Our Specialist starts -->
    <section id="our-specialist" class="our-specialist">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <div class="top-text">
                        <h2>UZMANLIKLARIMIZ</h2>
                        <p></p>
                        <div class="divider">
                            <span><i class="icofont icofont-bed-patient"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="our-specialist-carousel owl-carousel owl-theme">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="item text-center">
                            <div class="item-holder">
                                <div class="awsm-grid-holder">
                                    <img src="images/team-1.png" alt="" class="img-responsive" />                                    <div class="item-data-holder">
                                        <div class="awsm-personal-info">
                                            <h4 class="doctor-name">Dr.Anjelina Rossy</h4>
                                            <p>MBBS MS<span class="depart">Department of Cardiology</span></p>
                                        </div>
                                        <!-- .awsm-personal-info -->
                                        <div class="awsm-contact-info">
                                            <span class="time-slot"><i class="icofont icofont-clock-time"></i><span class="days">Sat - Thu</span> 5.00pm - 7:00pm</span>
                                        </div>
                                        <!-- .awsm-contact-info -->
                                    </div>
                                </div>
                                <!-- .awsm-grid-holder -->
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="item text-center">
                            <div class="item-holder">
                                <div class="awsm-grid-holder">
                                    <img src="images/team-4.png" alt="" class="img-responsive" />                                    <div class="item-data-holder">
                                        <div class="awsm-personal-info">
                                            <h4 class="doctor-name">Dr.Anjelina Rossy</h4>
                                            <p>MBBS MS<span class="depart">Department of Cardiology</span></p>
                                        </div>
                                        <!-- .awsm-personal-info -->
                                        <div class="awsm-contact-info">
                                            <span class="time-slot"><i class="icofont icofont-clock-time"></i><span class="days">Sat - Thu</span> 5.00pm - 7:00pm</span>
                                        </div>
                                        <!-- .awsm-contact-info -->
                                    </div>
                                </div>
                                <!-- .awsm-grid-holder -->
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="item text-center">
                            <div class="item-holder">
                                <div class="awsm-grid-holder">
                                    <img src="images/team-5.png" alt="" class="img-responsive" />                                    <div class="item-data-holder">
                                        <div class="awsm-personal-info">
                                            <h4 class="doctor-name">Dr.Anjelina Rossy</h4>
                                            <p>MBBS MS<span class="depart">Department of Cardiology</span></p>
                                        </div>
                                        <!-- .awsm-personal-info -->
                                        <div class="awsm-contact-info">
                                            <span class="time-slot"><i class="icofont icofont-clock-time"></i><span class="days">Sat - Thu</span> 5.00pm - 7:00pm</span>
                                        </div>
                                        <!-- .awsm-contact-info -->
                                    </div>
                                </div>
                                <!-- .awsm-grid-holder -->
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="item text-center">
                            <div class="item-holder">
                                <div class="awsm-grid-holder">
                                    <img src="images/team-1.png" alt="" class="img-responsive" />                                    <div class="item-data-holder">
                                        <div class="awsm-personal-info">
                                            <h4 class="doctor-name">Dr.Anjelina Rossy</h4>
                                            <p>MBBS MS<span class="depart">Department of Cardiology</span></p>
                                        </div>
                                        <!-- .awsm-personal-info -->
                                        <div class="awsm-contact-info">
                                            <span class="time-slot"><i class="icofont icofont-clock-time"></i><span class="days">Sat - Thu</span> 5.00pm - 7:00pm</span>
                                        </div>
                                        <!-- .awsm-contact-info -->
                                    </div>
                                </div>
                                <!-- .awsm-grid-holder -->
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="item text-center">
                            <div class="item-holder">
                                <div class="awsm-grid-holder">
                                    <img src="images/team-4.png" alt="" class="img-responsive" />                                    <div class="item-data-holder">
                                        <div class="awsm-personal-info">
                                            <h4 class="doctor-name">Dr.Anjelina Rossy</h4>
                                            <p>MBBS MS<span class="depart">Department of Cardiology</span></p>
                                        </div>
                                        <!-- .awsm-personal-info -->
                                        <div class="awsm-contact-info">
                                            <span class="time-slot"><i class="icofont icofont-clock-time"></i><span class="days">Sat - Thu</span> 5.00pm - 7:00pm</span>
                                        </div>
                                        <!-- .awsm-contact-info -->
                                    </div>
                                </div>
                                <!-- .awsm-grid-holder -->
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="item text-center">
                            <div class="item-holder">
                                <div class="awsm-grid-holder">
                                    <img src="images/team-5.png" alt="" class="img-responsive" />                                    <div class="item-data-holder">
                                        <div class="awsm-personal-info">
                                            <h4 class="doctor-name">Dr.Anjelina Rossy</h4>
                                            <p>MBBS MS<span class="depart">Department of Cardiology</span></p>
                                        </div>
                                        <!-- .awsm-personal-info -->
                                        <div class="awsm-contact-info">
                                            <span class="time-slot"><i class="icofont icofont-clock-time"></i><span class="days">Sat - Thu</span> 5.00pm - 7:00pm</span>
                                        </div>
                                        <!-- .awsm-contact-info -->
                                    </div>
                                </div>
                                <!-- .awsm-grid-holder -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="customNavigation">
                    <a class="btn customPrevBtn"><i class="icofont icofont-double-left"></i></a>
                    <a href="about.html" class="btn btn-default">Tüm Doktorlar</a>
                    <a class="btn customNextBtn"><i class="icofont icofont-double-right"></i></a>
                </div>
            </div>
        </div>
    </section>

    <!-- Our Specialist ends -->
    <!-- Parents Feedback starts -->

    <section id="parents-feedback" class="parents-feedback">
        <div class="layer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                        <div class="top-text">
                            <h2>HASTA YORUMLARI</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                            <div class="divider">
                                <span><i class="icofont icofont-bed-patient"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="about-feedback-carousel owl-carousel owl-theme">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="item text-center fadeIn wow" data-wow-duration="2s">
                                <i class="icofont icofont-quote-left"></i>
                                <p>lorem ipsum dolor sit amet consectetur adipiscing elit mollis convallis porttitor eleifend interdum tellus risus vel nibh sodales varius tristique class semper condimentum</p>
                                <h4>Jonathon Doe</h4>
                                <span>Designer</span>
                                <img src="http://i.pravatar.cc/80?u=1510724745.091" class="img-responsive" alt="" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="item text-center fadeIn wow" data-wow-duration="2s">
                                <i class="icofont icofont-quote-left"></i>
                                <p>lorem ipsum dolor sit amet consectetur adipiscing elit bibendum scelerisque ligula hendrerit taciti class faucibus praesent venenatis ad nec sagittis massa ornare lectus</p>
                                <h4>Jonathon Doe</h4>
                                <span>Designer</span>
                                <img src="http://i.pravatar.cc/80?u=1510724745.0914" class="img-responsive" alt="" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="item text-center fadeIn wow" data-wow-duration="2s">
                                <i class="icofont icofont-quote-left"></i>
                                <p>lorem ipsum dolor sit amet consectetur adipiscing elit morbi netus consequat aptent eu sodales enim euismod platea pharetra at fringilla elementum litora conubia</p>
                                <h4>Jonathon Doe</h4>
                                <span>Designer</span>
                                <img src="http://i.pravatar.cc/80?u=1510724745.0918" class="img-responsive" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Parents Feedback ends -->

</main>
    </div>
<section id="footer" class="footer">
    <div class="footer-widget">
        <div class="container">
            <div class="row ">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 footer-responsive-media">
                    <h4 class="icon-head">Hakkımızda</h4>
                    <div class="footer-about">
                        <p></p>
                        <ul>
                            <li><i class="icofont icofont-location-pin"></i> Ataşehir/İstanbul</li>
                            <li><i class="icofont icofont-ui-message"></i> <a href="email:petsveterinerlik@pets.com">petsveterinerlik@pets.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 footer-responsive-media">
                    <h4 class="icon-head">Site Haritası</h4>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-6">
                            <div class="footer-nav-list">
                                <ul>
                                    <li><a href="#"><i class="icofont icofont-double-right"></i> Randevu</a></li>
                                    <li><a href="#"><i class="icofont icofont-double-right"></i> Uzmanlarımız</a></li>
                                    <li><a href="#"><i class="icofont icofont-double-right"></i> Neden Biz?</a></li>
                                    <li><a href="#"><i class="icofont icofont-double-right"></i> Hizmetlerimiz</a></li>                                    
                                </ul>
                            </div>
                        </div>
                        @*<div class="col-xs-12 col-sm-12 col-md-6 col-6">
                            <div class="footer-nav-list">
                                <ul>
                                    <li><a href="#"><i class="icofont icofont-double-right"></i> Health Tips</a></li>
                                    <li><a href="#"><i class="icofont icofont-double-right"></i> Our Latest News</a></li>
                                    <li><a href="#"><i class="icofont icofont-double-right"></i> Patient Feedback</a></li>
                                </ul>
                            </div>
                        </div>*@
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 footer-responsive-media">
                    <h4 class="icon-head">Instagram</h4>
                    <div class="insta-widget">
                        <figure>
                            <a href="#">
                                <img src="images/instagram-1.jpg" alt="" class="img-responsive pull-left" />
                            </a>
                        </figure>
                        <figure>
                            <a href="#">
                                <img src="images/instagram-2.jpg" alt="" class="img-responsive pull-left" />
                            </a>
                        </figure>
                        <figure>
                            <a href="#">
                                <img src="images/instagram-3.jpg" alt="" class="img-responsive pull-left" />
                            </a>
                        </figure>
                        <figure>
                            <a href="#">
                                <img src="images/instagram-4.jpg" alt="" class="img-responsive pull-left" />
                            </a>
                        </figure>
                        <figure>
                            <a href="#">
                                <img src="images/instagram-5.jpg" alt="" class="img-responsive pull-left" />
                            </a>
                        </figure>
                        <figure>
                            <a href="#">
                                <img src="images/instagram-6.jpg" alt="" class="img-responsive pull-left" />
                            </a>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <p class="copyrights">Copyright <i class="icofont icofont-copyright"></i> 2017. Tüm Hakları Saklıdır.</p>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
<!-- Mirrored from demo.vaahosttech.com/premedi/about.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 20 Nov 2017 06:12:21 GMT -->
</html>