@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Ataşehir<br />
    İstanbul<br />
    <abbr title="Phone">Tel:</abbr>
    +90 216 73 87
</address>

<address>
    <strong>İrtibat:</strong> <a href="mailto:petsveterinerlik@pets.com">petsveterinerlik@pets.com</a><br />
</address>
