
@{
    ViewData["Title"] = "Doktorlarımız";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <h3>@ViewData["Title"]</h3>

    <h2>Murat İLGÜ</h2>

    <h2>Doğan AY</h2>

</div>

