
@model Appointment
@{
    ViewData["Title"] = "SuccessfullyCreated";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<header class="page-header bg-img size-lg" style="background-image: url(assets/img/bg-banner2.jpg)">*@
    <div class="container">
        <div class="header-detail">
            <h1>TEŞEKKÜRLER</h1>
            <p>İş ilanınız başarıyla oluşmuştur. Teşekkür ederiz..</p>
        </div>


        <div class="action-buttons">
            <a class="btn btn-default appoinment-form-submit" asp-controller="Home" asp-action="Index">ANASAYFAYA DÖN</a>
        </div>


    </div>
@*</header>*@

